body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #ebe2e2;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #0c249e;
    text-decoration: none;
}

main {
    margin: 20px;
}

section {
    text-align: center;
    margin-bottom: 30px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
}

.featured-product {
    text-align: center;
    margin-bottom: 20px;
    
}

.featured-product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.featured-product p {
    margin-top: 10px;
    font-weight: bold;
}